node_modules
backend/bin/Debug/netcoreapp3.1/backend.deps.json
backend/bin/Debug/netcoreapp3.1/backend.dll
backend/bin/Debug/netcoreapp3.1/backend.pdb
backend/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
backend/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
backend/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
backend/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
backend/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
backend/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
backend/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/Debug/netcoreapp3.1/backend.assets.cache
backend/obj/Debug/netcoreapp3.1/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/netcoreapp3.1/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/netcoreapp3.1/backend.csprojAssemblyReference.cache
backend/obj/Debug/netcoreapp3.1/backend.dll
backend/obj/Debug/netcoreapp3.1/backend.pdb
