// Home page styles
@import 'master-page';
@import 'bootstrap';

$color-grey: #f9f9f9;

// Header
header {
  background-color: $color-grey;
  div {
    padding: 5px;
  }
}

//Section
section {
  position: relative;
  top: 5%;
  table {
    position: relative;
    margin: {
      top: 30px;
      left: 50px;
    }
    th{
      border-top: none;
    }
  }
}
